// розміри контенту
$bp-min:375px;

// Мобільні
$bp-ms: 420px;
$bp-mm: 560px;
$bp-ml: 768px;

// Планшети / малі десктопи
$bp-tm: 1024px;
$bp-tl: 1220px;

// Великі десктопи
$bp-max: 1100px;

$bp-fhd: 1440px; //1560
$bp-2k: 1920px;



// $bp-min:375px;
// $bp-ms: 420px;
// $bp-mm: 560px;
// $bp-ml: 768px;
// $bp-tm: 1024px;
// $bp-tl: 1220px;
// $bp-max: 1400px;
// $bp-fhd: 1440px; 
// $bp-2k: 1920px;
