$accent: #D4C17F;
$dark: #242B33;


$color2-1: #0074BE;
$color2-2: #005EAD;
$color2-3: #003189;
$color2: linear-gradient(to right,
        #{$color2-1} 0%,
        #{$color2-2} 51%,
        #{$color2-3} 100%);
