* {
    outline: 1px solid red;
}

a:visited {
    color: white;
}

body {
    color: white;
}

// font-family: 'Post No Bills Jaffna SemiBold';
// font-family: 'Raleway';
// font-family: 'Playfair Display';
// font-family: 'Roboto';