<section class="apartments" aria-labelledby="apartments-title">
    <div class="apartments__container">
        <h3 class="apartments__title">Наші квартири</h3>
        <ul class="apartments__list">

            <li class="apartments__item">
                <a href="#">
                    <div class="apartments__image-wrapper">
                        <div class="apartments__image apartments__image--olymp"></div>
                    </div>
                    <p class="apartments__name">
                        Пентхаус “Loft Олімп”
                    </p>
                </a>
            </li>

            <li class="apartments__item">
                <a href="#">
                    <div class="apartments__image-wrapper">
                        <div class="apartments__image apartments__image--nice"></div>
                    </div>
                    <p class="apartments__name">
                        Апартаменти “Nice Loft”
                    </p>
                </a>
            </li>

            <li class="apartments__item">
                <a href="#">
                    <div class="apartments__image-wrapper">
                        <div class="apartments__image apartments__image--studio"></div>
                    </div>
                    <p class="apartments__name">
                        Апартаменти “Loft Studio”
                    </p>
                </a>
            </li>

            <li class="apartments__item">
                <a href="#">
                    <div class="apartments__image-wrapper">
                        <div class="apartments__image apartments__image--prestige"></div>
                    </div>
                    <p class="apartments__name">
                        Loft квартира “Престиж”
                    </p>
                </a>
            </li>

        </ul>
    </div>
</section>