 <section class="features">
        <div class="features__container">
            <ul class="features__list">
                <li class="features__item">
                    <div class="features__icon features__icon--bench"></div>
                    <p class="features__text">Поряд історичні <br>парки та сквери</p>
                </li>
                <li class="features__item">
                    <div class="features__icon features__icon--building"></div>
                    <p class="features__text">Повністю <br>облаштований</p>
                </li>
                <li class="features__item">
                    <div class="features__icon features__icon--fountain"></div>
                    <p class="features__text">10 фонтанів <br>на території</p>
                </li>
                <li class="features__item">
                    <div class="features__icon features__icon--bicycle"></div>
                    <p class="features__text">6 км <br>велодоріжок</p>
                </li>
            </ul>
        </div>
    </section>
