 <header class="header">
        <div class="header__container">
            <div class="header__hero">
                <div class="header__logo">
                    <h1 class="header__logo-title">LoftHouse</h1>
                    <p class="header__logo-description">ЖИЛИЙ КОМПЛЕКС</p>
                </div>
                <nav class="header__menu">
                    <ul class="header__menu-items">
                        <li class="header__menu-item"><a href="#">Про комплекс</a></li>
                        <li class="header__menu-item"><a href="#">Район</a></li>
                        <li class="header__menu-item"><a href="#">Каталог квартир</a></li>
                        <li class="header__menu-item"><a href="#">Іпотека</a></li>
                        <li class="header__menu-item"><a href="#">Контакти</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header__content">
                <h2 class="header__company-description">Жилий комплекс в <br> історичному центрі</h2>
                <div class="header__mouse">
                </div>
                <address class="header__contact">
                    <div class="header__contact-address">вулиця Межигірська, 78</div>
                    <div class="header__contact-phone">+38 (063) 652-26-18</div>
                </address>
            </div>
        </div>
    </header>