<section class="section-cta">
    <div class="section-cta__container">
        <h3 class="section-cta__title">Бажаєте подивитись?</h3>
        <div class="section-cta__content">
            <p class="section-cta__description">
                ЖК LoftHouse - це проект бізнес-класу, розташований в центрі міста, на вулиці Межигірська, 78.
                Комплекс пропонує своїм мешканцям квартири площею від 40 до 170 кв. м.
                У будівлі буде три секції, в яких розміститься лише 56 квартир.
            </p>
            <form class="section-cta__form">
                <input type="text" class="section-cta__input" placeholder="Ваше ім’я">
                <input type="tel" class="section-cta__input" placeholder="Ваш телефон">
                <button class="section-cta__button">Подивитись район</button>
                <p class="section-cta__privacy">
                    *Ми нікому не передаємо ваші дані…
                </p>
            </form>
        </div>
    </div>
</section>